
<p id="header">
  <mat-toolbar>
    <img src="../assets/book.png" alt="ChattingIcon">
    <span id="app-name">$Dollar$</span> <span class="subscript-text">a chat</span>
  </mat-toolbar>
</p>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened></mat-sidenav>
  <mat-sidenav position="end" mode="side" opened></mat-sidenav>
  <section id="main-content">
    <mat-card id="chat-container">
      <mat-card-title>Chat</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list id="messages-list">
          <mat-list-item *ngFor="let message of messages">
            <img matListAvatar src="../assets/icons8-wechat.png" alt="Avi">
            <h3 matLine [message]="message" [style.color]="message.colorCode"> 
              {{message.username}} 
            </h3>
            <p matLine>
              {{message.message}}
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card id="chat-input-container">
      <form id="chat-input-form" (submit)="sendMessage()">
        <mat-form-field MatFormFieldControl appearance="outline">
          <mat-label>Start chatting!</mat-label>
          <input matInput type="text" [formControl]="messageFormControl" [errorStateMatcher]="matcher" placeholder="Enter your chat message here...">
        </mat-form-field>
        <button id="send-button" mat-raised-button color="primary">Send</button>
      </form>
    </mat-card>
  
    <mat-card id="chat-users">
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle>Online</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list id="users-list">
          <mat-list-item *ngFor="let user of onlineUsers">
            <h3 matLine [user]="user" [style.color]="user.colorCode">
              {{user.username}}
            </h3>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </section>
</mat-sidenav-container>


<router-outlet></router-outlet>